*.egg-info
*.so
*.swp
*.o
*.pyc
*.pdf
*.bin
.ipynb_checkpoints
dist/
build/
old_notebooks/
install-record.txt
*.html
*.js
*.png
*.doctree
*.txt
*.css
*.sa
*.pickle
*-Copy*.ipynb
Untitled*.ipynb
.DS_Store
PyPI_HOWTO.rst
TODO.rst
celmech/test/test_PlanarMMR.py
src/moid_v4_fun.f
celmech/test/DisturbingFunctionTest.ipynb
docs/_build/
docs/nbody_simulation_utilities.rst
jupyter_examples/AndoyerResonanceCapture.ipynb
jupyter_examples/scratchpad.ipynb
src/poincare.c
src/poisson_series.h
src/test
src/test.c

